@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --color-sand: #F9F8F5;
  --color-sand-light: #ffffff;
  --color-dark: #1A1A1A;
  --color-accent: #1A1A1A;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-sand);
  color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
}
